<mat-card class="my-card">
  <span><mat-icon>account_circle</mat-icon><h4>Vishal</h4></span>
  <button mat-button>Logout</button>
  
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  
  <mat-list>
  	<mat-list-item>
  		<span>Call with Ryan</span>
  		<span class="spacer"></span>
  		<mat-checkbox></mat-checkbox>
  		<button mat-icon-button [matMenuTriggerFor]="menu">
		    <mat-icon>more_vert</mat-icon>
		  </button>
    	<mat-menu mat-position-mode="target-right target" mat-offset="0 42" #menu="matMenu">
    	  <button mat-menu-item (click)="deleteThis(i)">
    	    <mat-icon>delete</mat-icon>
    	    <span>Delete</span>
    	  </button>
    	</mat-menu>
	  </mat-list-item>
	  
	  <mat-divider></mat-divider>
	  
	  <mat-list-item>
  		<span>Lunch with Diane</span>
  		<span class="spacer"></span>
  		<mat-checkbox></mat-checkbox>
  		<button mat-icon-button [matMenuTriggerFor]="menu">
		    <mat-icon>more_vert</mat-icon>
		  </button>
    	<mat-menu mat-position-mode="target-right target" mat-offset="0 42" #menu="matMenu">
    	  <button mat-menu-item (click)="deleteThis(i)">
    	    <mat-icon>delete</mat-icon>
    	    <span>Delete</span>
    	  </button>
    	</mat-menu>
	  </mat-list-item>
	  
	  <mat-divider></mat-divider>
	  
	  <mat-list-item>
  		<span>Catch up with Tom</span>
  		<span class="spacer"></span>
  		<mat-checkbox></mat-checkbox>
  		<button mat-icon-button [matMenuTriggerFor]="menu">
		    <mat-icon>more_vert</mat-icon>
		  </button>
    	<mat-menu mat-position-mode="target-right target" mat-offset="0 42" #menu="matMenu">
    	  <button mat-menu-item>
    	    <mat-icon>delete</mat-icon>
    	    <span>Delete</span>
    	  </button>
    	</mat-menu>
	  </mat-list-item>
  </mat-list>
</mat-card>
<button mat-fab color="warn"> + </button>
